.ember-view .form-control{
	width: 60%
}
.edit-form {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 350px;
    z-index: 99999999;
}
.fa{
    cursor: pointer;
}
.left-box, .right-box{
    min-height: 500px;
}
.director-select{
    padding: 0;
}
.director-select a{
    height: 32px !important;
}
.writer-select{
    padding: 0;
}
.writer-select a{
    height: 32px !important;
}
