.ember-view .form-control{
	width: 60%
}
.edit-form {
    position: absolute;
    right: 0px;
    top: 60px;
    width: 350px;
    z-index: 99999999;
}
.fa{
    cursor: pointer;
}
.left-box, .right-box{
    min-height: 500px;
}
.director-select{
    padding: 0;
}
.director-select a{
    height: 32px !important;
}
.writer-select{
    padding: 0;
}
.writer-select a{
    height: 32px !important;
}


/*login form css*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  width: 100% !important
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
